# ./docker-compose.yml
version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    container_name: task-sync-app-dev
    volumes:
      - .:/workspace
    working_dir: /workspace
    ports:
      - "8200:8200"  # Laravel
      - "5173:5173"  # Vite
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: task-sync-app-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
